.hero{
  &-title{
    padding: 20px 20px;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F97945;
  }
  &-subtitle{
    padding: 10px 20px;
    background: #0B2D6B;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &-media{
    position: relative;
    padding-bottom: 15px;
    &:after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      background: #0B2D6B;
    }
    img{
      width: 100%;
    }
    .hero-text{
      top: 17px;
      width: calc(100% - 60px);
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      padding: 30px 32px;
      background: rgba(32, 32, 32, .7);
    }
  }
  &-price{
    display: flex;
    width: calc(100% - 60px);
    margin: -50px auto 33px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    &__item{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 17px 20px 19px;
      width: 100%;
      span{
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
      }
      &:first-of-type{
        background: #0B2D6B;
        border-radius: 6px 0px 0px 6px;
      }
      &:last-of-type{
        background: #F97945;
        border-radius: 0px 6px 6px 0px;
      }
    }
  }
}
.info{
  padding-bottom: 60px;
  &-price{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px;
    background: #0B2D6B;
    border-radius: 2px;
    margin: 0 auto 20px;
    width: 176px;
  }
  &-delivery{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #202020;
    margin-bottom: 16px;
  }
  &-list{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 50px;
  }
  &-item{
    text-align: center;
    max-width: 130px;
    &__title{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #202020;
    }
  }
  &-media{
    padding: 0 30px;
    margin-bottom: 25px;
  }
  &-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #202020;
    padding: 0 30px;
    p{
      display: block;
      margin-bottom: 10px;
    }
  }
}
.why{
  border-top: 20px solid #0B2D6B;
  padding: 60px 30px 60px;
  ol {
    list-style-type: none;
    counter-reset: li;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
      display: flex;
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #202020;
      &:before {
        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        min-width: 48px;
        margin-right: 17px;
        height: 46px;
        background: #F97945;
        border-radius: 4px;
        text-align: center;
        line-height: 46px;
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }
  &-text{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 35px;
    background: #0B2D6B;
    margin-bottom: 40px;
  }
}
.characteristics{
  border-top: 20px solid #0B2D6B;
  padding: 60px 0 60px;
  .title-section{
    padding: 0 30px 13px;
    &:after{
      left: 30px;
    }
  }
  &-list{
    margin-bottom: 40px;
    li{
      padding: 19px 20px 19px 58px;
      background: #fff;
      &:nth-of-type(2n+1){
        background: #EAEFF7;
      }
      position: relative;
      &:before{
        position: absolute;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 9.09327L-7.94959e-07 18.1865L0 -6.88454e-07L15.75 9.09327Z' fill='%23F97945'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        left: 30px;
        top: 50%;
        margin-top: -9px;
        width: 16px;
        height: 19px;
      }
    }
  }
  &-media{
    padding: 0 30px;
  }
}
.reviews{
  border-top: 20px solid #0B2D6B;
  padding: 60px 30px 60px;
  &-wrap{}
  &-item{
    margin-bottom: 30px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.delivery{
  border-top: 20px solid #0B2D6B;
  padding: 60px 30px 60px;
  &-item{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    background: #EAEFF7;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    &__desc{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 20px 21px 10px 44px;
    }
    &__media{
      width: 50%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title{
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #202020;
      margin-bottom: 2px;
    }
    &__text{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #202020;
    }
    &__icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-of-type(2n+1){
      flex-direction: row;
      .delivery-item__desc{
        padding: 20px 44px 10px 21px;
      }
    }
  }
}
.about{
  border-top: 20px solid #0B2D6B;
  padding: 60px 30px 60px;
  &-text{
    p{
      margin-bottom: 10px;
    }
  }
}
.form{
  padding: 30px 60px 80px;
  .label{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
  .input{
    width: 100%;
    background: #F2F6FB;
    border: 1px solid #D0DBE9;
    border-radius: 6px;
    padding: 20px 20px 20px 54px;
    font-family: $Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #202020;
    &::placeholder{
      color: #202020;
    }
  }
  .btn-primary{
    margin: 15px auto 0;
  }
  .icon{
    position: absolute;
    left: 16px;
    top: 18px;
    fill: transparent;
    stroke: #202020;
    width: 26px;
    height: 26px;
  }
}
.btn-primary{
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 25px;
  width: 100%;
  display: block;
  margin:  0 auto;
  border: 0 ;
  outline: none;
  max-width: 320px;
  background: #F97945;
  box-shadow: 0px 0px 20px rgba(249, 121, 69, 0.4);
  border-radius: 36px;
  &:hover{
    box-shadow: none;
  }
}
.hidden{
  display: none;
}